@base-border-color: var(--base-border-color, #d8dce5);
@base-hover-color: var(--base-hover-color, #eee);
@base-background-color: var(--base-background-color, #f7faff);
@base-font-color: var(--base-font-color, #000);

@menu-hover-color: var(--menu-hover-color, #e7effe);

@map-panel-background-color: var(--map-panel-background-color, #ffffffe6);

@font-color--primary: var(--font-color--primary, #25559e);

@table-header-background-color: var(--table-header-background-color, #ebeffb);
@table-header-font-color: var(--table-header-font-color, #3575ad);
@table-header-font-color: var(--table-border-color, #3575ad);
@table-border-color: var(--table-border-color, #dde4f1);
@table-hover-color: var(--table-hover-color, #f5f7fa);

@base-padding: 4px;

@header-height: 80px;
